#out {
  display: inline-block;
  vertical-align: middle;
}

h2, img {
  display: inline-block;
  vertical-align: middle;
}

ul {
  padding-left: 0;
}

pre, ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

li {
  list-style-type: none;
}

details {
  padding-left: 5px;
}

details > *:not(:first-child){
  margin-left: 5px;
  margin-right: 5px;
}

details[open] {
  border: solid 1px lightgrey;
  border-radius: 5px 5px 5px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  border: black 1px solid;
  border-radius: 5px 5px 5px 5px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: small;
  margin-left: 2px;
  user-select: none;
  background-color: grey;
}

input[type=checkbox]:not(:checked) + label {
  opacity: 0.5;
}

#settings {
  float:right;
}

#filters {
  display: flex;
  flex-wrap: wrap;
}