.fade {
  animation: fade 1s linear forwards;
}

@keyframes fade {
  from {opacity: 1;}
  to {opacity: 0;}
}

details{
  padding: 5px;
}

details > *:not(:first-child){
  padding: 10px;
}

details[open] {
  border: solid 1px black;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 5px;
}
